{% load hash_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://purl.org/kid/ns#"><head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''" /><title>Bieler Web Application</title>

<script type="text/javascript" src="/media/js/jquery/jquery.js"></script>

<link rel="stylesheet" type="text/css" href="/media/css/olap.css" media="screen" />
<script type="text/javascript">
	jQuery(document).ready(function($){

		$('.categoria_delete').click(function(){
			if (confirm("Esta seguro que desea borrar la categoria?\nTambién se borrarán los reportes asociados a ésta")) { 
				var id = $(this).attr("categoria_id")
				jQuery.post("/delete_categoria/" , {id: id}, function(data){
					parent.frames.browser.location.reload()
					window.location.reload()
				})
			}
		})

		$('#categoria_aceptar').click(function(){
                        error = false
                        msg = ""

			var nombre = $('#categoria_nombre').val()
	
                        if(nombre == ""){
                                msg += "Debe introducir un Nombre para guardar la Categoria\n"
                                error = true
                        }

                        if(error == true){
                                alert(msg)
                                return
                        }

                        $('#saving_label').show()

			jQuery.post("/save_categoria/" , {nombre: nombre}, function(data){
                                $('#saving_label').hide()
                                if(data == "repeat_name"){
                                    var categoria_nombre = $('#categoria_id').text()
                                    alert("Ya existe la categoria '" + nombre + "'")
                                    return
                                }

				parent.frames.browser.location.reload()
				window.location.reload()

                                $('#categoria_nombre').val('')
                                alert("La categoria se guardo correctamente")
			})	
		})
	
    });

</script>


</head>
<body>

	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th></th>
				<th></th>
			</tr>		
		</thead>
		<tbody>
		{% for cat in categorias %}
			<tr>
				<td>{{cat.nombre}}</td>
				<td>
					<a class="categoria_delete" categoria_id="{{cat.id}}"><img border="0" src="/media/img/del.png" width="13" /></a>
				</td>
			</tr>
		{% endfor %}

		</tbody>
	</table>

	<br>	

	<fieldset>
	<legend>Nueva Categoria</legend>
	<table>
		<tbody>
		<tr>
			<td><label>Nombre</label></td>
			<td><input type="text" value="" id="categoria_nombre" /></td>
		</tr>
		</tbody>
	</table>
	<br>
        <div id="saving_label" style="display:none;">Guardando...<img src="/media/img/lightbox-ico-loading.gif" width="20px" /></div>
	<input type="button" value="Aceptar" id="categoria_aceptar"/>
	</fieldset>
</div>


</body>
</html>