{% load hash_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://purl.org/kid/ns#">
<head>
<link rel="stylesheet" href="/media/css/formulario.css" type="text/css" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''" /><title>Bieler Web Application</title>

<script type="text/javascript" src="/media/js/jquery/jquery.js"></script>

<link rel="stylesheet" type="text/css" href="/media/css/olap.css" media="screen" />
<script type="text/javascript">
	jQuery(document).ready(function($){
	
	var width = "90%"


	$('#formulario_iframe').attr('width', width)
	$('#fieldset').attr('width', width)

	$('.form_loader').click(function(e){
		var href = $(this).attr('ref')

		if($(this).val() == "1"){
			var height = "600";
		}else{
			var height = "900";
		}

		$('#formulario_iframe').attr('src', href)
		$('#formulario_iframe').attr('height', height)
		$('#formulario_iframe').css('display', 'block')

		$('#iframe_loading').show()
		$('#formulario_iframe').hide()

	})

	$('iframe').load(function(e){
		$('#iframe_loading').hide()
		$('#formulario_iframe').show()
	});
	
    });

</script>

</head>
<body>

<div id="change_report">
	<fieldset id="fieldset" style="width:90%">
	<legend>Tipo de Reporte</legend>
		<table>
		<tbody>
		<tr>
		<td><label>Simple</label></td>
		<td><input type="radio" name="type" class="form_loader" ref="/report/formulario/" checked="checked" value="1" /></td>
		</tr>
		<tr>
		<td><label>Compuesto</label></td>
		<td><input type="radio" name="type" class="form_loader" ref="/report/formulario2/" value="2" /></td>
		</tr>
		</tbody>
		</table>
	</fieldset>

	<br><br>
	
	<img id="iframe_loading" src="/media/img/loadingAnimation.gif" width="200" style="display:none" />
	<iframe src="/report/formulario/" id="formulario_iframe" width=750 height=700 style="display:none"></iframe>
</div>


</body>
</html>
