  <html>
  <head>
    <link rel="stylesheet" href="/media/css/formulario.css" type="text/css" />
    <script type="text/javascript" src="/media/js/prototype.js"></script>
    <script type="text/javascript" src="/media/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="/media/js/jquery/jquery.flydom.js"></script>

    <script type="text/javascript" src="/media/js/formulario.js"></script>

     <script type="text/javascript">
	jQuery.noConflict();

	

	 jQuery(document).ready(function($){
// 		$.ajaxSetup( {
// 			type: "POST",
// 			async: false,
// 			beforeSend: ajax_beforeSend,
// 			complete: ajax_complete
// 		} );

		$.ajaxSetup( {
			type: "POST",
			async: false
		} );

		/* EVENTOS*/

		$('#ft1').change(change_ft)
		$('#ft2').change(change_ft)

		$('#x').change(change_x)
		$('#y').change(change_y)

                $('#ft1_xl').change(labels_preview)
                $('#ft1_yl').change(labels_preview)
                $('#ft2_xl').change(labels_preview)
                $('#ft2_yl').change(labels_preview)

		$('#dimension').change(change_dimension)
		$('#ft1_dimension').change(change_ft1_dimension)
		$('#ft2_dimension').change(change_ft2_dimension)

		$('#level').change(change_level)
		$('#ft1_level').change(change_ft1_level)
		$('#ft2_level').change(change_ft2_level)

		$('#mf').change(change_mf)

		$('#cf').change(change_cf)

		$('#agregar').click(agregar)
		$('#ft1_agregar').click(ft1_agregar)
		$('#ft2_agregar').click(ft2_agregar)

		$('#aceptar').click(aceptar)

		/* FIN EVENTOS*/


		function _common_dimensions(d1, d2){
			unique_in_1 = _unique_dimensions(d1, d2)

			common = d1
			unique_in_1.each(function(item){
				common = common.without(item)
			})
			return common
		}

		/*
		Devuelve un array con las dimensiones que solo estan en d1
		*/
		function _unique_dimensions(d1, d2){
			unique = d1
			d2.each(function(item){
				unique = unique.without(item)
			})

			return unique
		}

		/*
		Devuelve un array con las dimensiones que solo estan en ft1
		*/
		function _ft1_dimensions(d1, d2){
			return _unique_dimensions(d1, d2)
		}

		/*
		Devuelve un array con las dimensiones que solo estan en ft2
		*/
		function _ft2_dimensions(d1, d2){
			return _unique_dimensions(d2, d1)
		}

		function change_ft(){
			var ft1 = $('#ft1').val()
			jQuery.get("/report/get_dimensions/" + ft1, {}, function(data){	
				dimensions1 = data.split("|")
			})	

			var ft2 = $('#ft2').val()
			jQuery.get("/report/get_dimensions/" + ft2, {}, function(data){
				dimensions2 = data.split("|")
			})

			var common = _common_dimensions(dimensions1, dimensions2)
			var ft1_dimensions = _ft1_dimensions(dimensions1, dimensions2)
			var ft2_dimensions = _ft2_dimensions(dimensions1, dimensions2)

			_add_options("x", common.join("|"))
			_add_options("y", common.join("|"))
			_add_options("dimension", common.join("|"))

			_add_options("ft1_dimension", ft1_dimensions.join("|"))
			_add_options("ft2_dimension", ft2_dimensions.join("|"))

			jQuery.get("/report/get_measures/" + ft1, {}, function(data){
				_add_options_measures("ft1_measures", data)
			})

			jQuery.get("/report/get_measures/" + ft2, {}, function(data){
				_add_options_measures("ft2_measures", data)
			})

			$('#ft1_rest_legend').html(ft1)
			$('#ft2_rest_legend').html(ft2)
			
			set_cf()

			change_x()
			change_y()
			change_dimension()
			change_ft1_dimension()
			change_ft2_dimension()
			change_level()
			change_mf()
		}

		function change_x(){
			var dimension = $('#x').val()
			jQuery.get("/report/get_levels/" + dimension, {}, function(data){
				_add_options("ft1_xl", data)
				_add_options("ft2_xl", data)
			})
                        labels_preview()
		}

		function change_y(){
			var dimension = $('#y').val()
			jQuery.get("/report/get_levels/" + dimension, {}, function(data){
				_add_options("ft1_yl", data)
				_add_options("ft2_yl", data)
			})
                        labels_preview()
		}
		
		function change_dimension(){
			var dimension = $('#dimension').val()
			jQuery.get("/report/get_levels_without_todo/" + dimension, {}, function(data){
				_add_options("level", data)
			})

			change_level()
		}

		function change_ft1_dimension(){
			var dimension = $('#ft1_dimension').val()
			jQuery.get("/report/get_levels_without_todo/" + dimension, {}, function(data){
				_add_options("ft1_level", data)
			})

			change_ft1_level()
		}

		function change_ft2_dimension(){
			var dimension = $('#ft2_dimension').val()
			jQuery.get("/report/get_levels_without_todo/" + dimension, {}, function(data){
				_add_options("ft2_level", data)
			})

			change_ft2_level()
		}

		function change_level(){
			var dimension = $('#dimension').val()
			var level = $('#level').val()
			jQuery.get("/report/get_values/" + dimension + "/" + level, {}, function(data){
				_add_options("val", data)
			})

		}

		function change_ft1_level(){
			var dimension = $('#ft1_dimension').val()
			var level = $('#ft1_level').val()
			jQuery.get("/report/get_values/" + dimension + "/" + level, {}, function(data){
				_add_options("ft1_val", data)
			})
		}

		function change_ft2_level(){
			var dimension = $('#ft2_dimension').val()
			var level = $('#ft2_level').val()
			jQuery.get("/report/get_values/" + dimension + "/" + level, {}, function(data){
				_add_options("ft2_val", data)
			})
		}

		function change_mf(){
			var params_length = $('#mf option:selected').attr('params_length')
	
			var ft1_measures = $('#ft1_measures').html()
			var ft2_measures = $('#ft2_measures').html()

			var aggregations = $('#aggregations').html()		
			
			$('#param_table_body').html('')
			for(var i = 0; i < params_length; i++){
				$('#param_table_body').createAppend(
					'tr', {}, [
					'td', { class: 'params', align: 'center', style: '' }, ['select', {}, ft1_measures + ft2_measures],
					'td', {class: 'aggregations'}, ['select', {}, aggregations]
					]
				);
			}
		}


		function _x_fixed(ft_prefix){
			if( $('#' + ft_prefix + "_x_fixed").attr("checked") ){
				return ":"
			}
			return ""
		}

		function _y_fixed(ft_prefix){
			if( $('#' + ft_prefix + "_y_fixed").attr("checked") ){
				return ":"
			}
			return ""			
		}
		
		function _ft_url(ft_prefix){
			var ft  = $('#' + ft_prefix).val()
			var x   = _x_fixed(ft_prefix) + $('#x').val()
			var y   = _y_fixed(ft_prefix) + $('#y').val()
			var xl  = $('#' + ft_prefix + '_xl').val()
			var yl  = $('#' + ft_prefix + '_yl').val()

			
			
			var xr = _get_x_restriction()
			var yr = _get_y_restriction()

			var ore = _get_ore(ft_prefix)
			
			var ft_url = ft + "/"
			ft_url += x + "/"
			ft_url += y + "/"
			ft_url += xl + "/"
			ft_url += yl + "/"
			ft_url += xr + "/"
			ft_url += yr + "/"
			ft_url += ore

			return ft_url
		}

		function ft1_agregar(){
			_agregar("ft1_")
		}

		function ft2_agregar(){
			_agregar("ft2_")
		}

		function _verificar(){

			error = false
			msg = ""

			var x   = $('#x').val()
			var y   = $('#y').val()

			if (x == y){
				error = true
				msg += "X e Y no pueden ser iguales\n"
			}

			var ft1   = $('#ft1').val()
			var ft2   = $('#ft2').val()
			if (ft1 == ft2){
				error = true
				msg += "Debe elegir dos hechos diferentes"
			}
			
			if (error){
				alert(msg)
				return false
			}

			return true
		}

		function aceptar(){
			if (!_verificar()){
				return
			}


			var ft1_url = _ft_url('ft1')
			var ft2_url = _ft_url('ft2')			

			var mf = $('#mf').val()

			var params = _get_params()

			var cf = $('#cf option:selected').attr('id')

			var cf_params = _get_cf_params()

			var url = ""  
			url += "/" + "report2"
			url += "/" + ft1_url
			url += "/" + ft2_url
			url += "/" + mf
			url += "/" + params
			url += "/" + cf
			url += "/" + cf_params
			url += "/"

			parent.location.href = url
		}

                //Devuelve el string con parentesis
                function _p(a){
                    return "(" + a + ")";
                }

                function labels_preview(){
                    $('#prev_x').html($('#x').val())
                    $('#prev_y').html($('#y').val())
                    $('#prev_x2').html($('#x').val())
                    $('#prev_y2').html($('#y').val())


                    $('#prev_xl').html(_p($('#ft1_xl').val()))
                    $('#prev_xl2').html(_p($('#ft2_xl').val()))
                    $('#prev_yl').html(_p($('#ft1_yl').val()))
                    $('#prev_yl2').html(_p($('#ft2_yl').val()))

                    $('#prev_ft1').html($('#ft1').val())
                    $('#prev_ft2').html($('#ft2').val())
                }


		change_ft()
                labels_preview()

	 });

    </script>

<style>

#prev_yl, #prev_yl2, #prev_ft1, #prev_y, #prev_ft2,  #prev_y2{
    width: 120px;
    text-align: right;
}

#prev_xl, #prev_x2, #prev_xl2,, #prev_x{
    width: 120px;
    text-align: left;
}

#prev_ft1, #prev_x, #prev_y, #prev_ft2, #prev_x2, #prev_y2{
    font-weight:bold;
    font-size: 14px;
}

#prev_xl, #prev_yl, #prev_xl2, #prev_yl2{
    font-size: 10px;
}

#prev_ft1 {
    position:absolute;
    top:160px;
    left:80px;
}

#prev_x {
    position:absolute;
    top:95px;
    left:135px;
}

#prev_xl {
    position:absolute;
    top:110px;
    left:135px;
}

#prev_y {
    position:absolute;
    top:95px;
    left:-50px;
    font-weight:bold;
}

#prev_yl {
    position:absolute;
    top:110px;
    left:-50px;
}

#prev_ft2 {
    position:absolute;
    top:95px;
    left:220px;
}

#prev_x2 {
    position:absolute;
    top:30px;
    left:245px;
}

#prev_xl2 {
    position:absolute;
    top:45px;
    left:245px;
}

#prev_y2 {
    position:absolute;
    top:35px;
    left:80px;
}

#prev_yl2 {
    position:absolute;
    top:50px;
    left:80px;
}

</style>

  </head>
  <body>
<br>
	<form>

		<fieldset>
			<legend>Selecci&oacute;n de dimensiones</legend>
                        <table>
                        <tbody>
                            <tr>
                            <td></td>
                            <td>
                                        <select id="x">
                                                <option>tiempo</option>
                                                <option>pieza</option>
                                                <option>proveedor</option>
                                                <option>tipo_venta</option>
                                        </select>
                            </td>
                            <td>
                                        <select id="y">
                                                <option>tiempo</option>
                                                <option>pieza</option>
                                                <option>proveedor</option>
                                                <option>tipo_venta</option>
                                        </select>
                        
                            </td>
                            </tr>
                            <tr>
                            <td>
                                        <select id="ft1">
                                                <option>ventas</option>
                                                <option>movimientos</option>
                                                <option>compras</option>
                                        </select>
                            </td>
                            <td>
                                        <select id="ft1_xl">
                                                <option>anio</option>
                                                <option>mes</option>
                                        </select>		
                                        <input id="ft1_x_fixed" type="checkbox" />
                        
                            </td>
                            <td>
                                        <select id="ft1_yl">
                                                <option>grupo_constructivo</option>
                                                <option>modelo</option>
                                        </select>
                                        <input id="ft1_y_fixed" type="checkbox" />
                        
                            </td>
                            </tr>
                            <tr>
                            <td>
                                        <select id="ft2">
                                                <option>ventas</option>
                                                <option>movimientos</option>
                                                <option>compras</option>
                                        </select>
                            </td>
                            <td>
                                        <select id="ft2_xl">
                                                <option>anio</option>
                                                <option>mes</option>
                                        </select>
                                        <input id="ft2_x_fixed" type="checkbox" />
                        
                            </td>
                            <td>
                                        <select id="ft2_yl">
                                                <option>grupo_constructivo</option>
                                                <option>modelo</option>
                                        </select>
                                        <input id="ft2_y_fixed" type="checkbox" />
                        
                            </td>
                            </tr>
                        </tbody>
                        </table>
        </fieldset>
<br>

<div style="position: relative;">
    <span id="prev_x"></span>
    <span id="prev_x2"></span>
    <span id="prev_y"></span>
    <span id="prev_y2"></span>
    <span id="prev_xl"></span>
    <span id="prev_xl2"></span>
    <span id="prev_yl"></span>
    <span id="prev_yl2"></span>
    <span id="prev_ft1"></span>
    <span id="prev_ft2"></span>
    <img src="/media/img/previsualizacion2.png"></img>
</div>

		<select id="ft1_measures" style="display:none"></select>
		<select id="ft2_measures" style="display:none"></select>

		<select id="aggregations" style="display:none">
			<option value="sum">Suma</option>
			<option value="avg">Promedio</option>
		</select>

		<br><br>

		<fieldset>
			<legend>Restricciones Comunes</legend>

			<table>
                                <tr>
                                        <td><label>Dimension</label></td>
                                        <td><label>Nivel</label></td>
                                        <td><label>Valor</label></td>
                                        <td></td>
                                </tr>
                                <tr>
                                        <td>
                                            <select id="dimension">
                                                    <option>tiempo</option>
                                                    <option>pieza</option>
                                                    <option>proveedor</option>
                                                    <option>tipo_venta</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select id="level">

                                            </select>
                                        </td>
                                        <td>
                                            <select id="val">

                                            </select>
                                        </td>
                                        <td><input id="agregar" type="button" value="Agregar" /></td>
                                </tr>
			</table>

			<table class="restriction_table">
				<tbody id="restriction_table_body">
					<tr>
						<td><label>Dimension</label></td>
						<td><label>Nivel</label></td>
						<td><label>Valor</label></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			
		</fieldset>

		<fieldset>
			<legend>Restricciones <span id="ft1_rest_legend">Hecho 1</span></legend>

			<table>
                                <tr>
                                        <td><label>Dimension</label></td>
                                        <td><label>Nivel</label></td>
                                        <td><label>Valor</label></td>
                                        <td></td>
                                </tr>
                                <tr>
                                        <td>
                                            <select id="ft1_dimension">
                                                    <option>tiempo</option>
                                                    <option>pieza</option>
                                                    <option>proveedor</option>
                                                    <option>tipo_venta</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select id="ft1_level">

                                            </select>
                                        </td>
                                        <td>
                                            <select id="ft1_val">

                                            </select>
                                        </td>
                                        <td><input id="ft1_agregar" type="button" value="Agregar" /></td>
                                </tr>
			</table>

			<table class="ft1_restriction_table">
				<tbody id="ft1_restriction_table_body">
					<tr>
						<td><label>Dimension</label></td>
						<td><label>Nivel</label></td>
						<td><label>Valor</label></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			
		</fieldset>

		<fieldset>
			<legend>Restricciones <span id="ft2_rest_legend">Hecho 2</span></legend>
			<table>
                                <tr>
                                        <td><label>Dimension</label></td>
                                        <td><label>Nivel</label></td>
                                        <td><label>Valor</label></td>
                                        <td></td>
                                </tr>
                                <tr>
                                        <td>
                                            <select id="ft2_dimension">
                                                    <option>tiempo</option>
                                                    <option>pieza</option>
                                                    <option>proveedor</option>
                                                    <option>tipo_venta</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select id="ft2_level">

                                            </select>
                                        </td>
                                        <td>
                                            <select id="ft2_val">

                                            </select>
                                        </td>
                                        <td><input id="ft2_agregar" type="button" value="Agregar" /></td>
                                </tr>
			</table>
			<table class="ft2_restriction_table">
				<tbody id="ft2_restriction_table_body">
					<tr>
						<td><label>Dimension</label></td>
						<td><label>Nivel</label></td>
						<td><label>Valor</label></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			
		</fieldset>

		<fieldset>
			<legend>Función</legend>	
                        <select id="mf">
                                <option params_length="2">sumar</option>
                                <option params_length="2">dividir</option>
                                <option params_length="2">multiplicar</option>
                                <option params_length="2">restar</option>
                                <option params_length="1">mismo_valor</option>>
                        </select><br>
                        <label>Parámetros</label>
                        <table>
                                <tbody id="param_table_body">

                                </tbody>
                        </table>
                </fieldset>

		<fieldset>
			<legend>Función de Cubo</legend>
                        <select id="cf">
                        </select><br>
                        <label>Parámetros</label>
                        <table>
                                <tbody id="cube_param_table_body">

                                </tbody>
                        </table>
                </fieldset>

		<br><br>
		<input id="aceptar" type="button" value="Aceptar" />

	</form>
	
  </script>

  </body>
  </html>
