  <html>
  <head>
    <script type="text/javascript" src="/media/js/prototype.js"></script>
    <script type="text/javascript" src="/media/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="/media/js/jquery/jquery.flydom.js"></script>

    <script type="text/javascript" src="/media/js/formulario.js"></script>

     <script type="text/javascript">
	jQuery.noConflict();

	

	 jQuery(document).ready(function($){
// 		$.ajaxSetup( {
// 			type: "POST",
// 			async: false,
// 			beforeSend: ajax_beforeSend,
// 			complete: ajax_complete
// 		} );

		$.ajaxSetup( {
			type: "POST",
			async: false
		} );

		/* EVENTOS*/

		$('#ft1').change(change_ft)
		$('#ft2').change(change_ft)

		$('#x').change(change_x)
		$('#y').change(change_y)

		$('#dimension').change(change_dimension)
		$('#ft1_dimension').change(change_ft1_dimension)
		$('#ft2_dimension').change(change_ft2_dimension)

		$('#level').change(change_level)
		$('#ft1_level').change(change_ft1_level)
		$('#ft2_level').change(change_ft2_level)

		$('#mf').change(change_mf)

		$('#cf').change(change_cf)

		$('#agregar').click(agregar)
		$('#ft1_agregar').click(ft1_agregar)
		$('#ft2_agregar').click(ft2_agregar)

		$('#aceptar').click(aceptar)

		/* FIN EVENTOS*/


		function _common_dimensions(d1, d2){
			unique_in_1 = _unique_dimensions(d1, d2)

			common = d1
			unique_in_1.each(function(item){
				common = common.without(item)
			})
			return common
		}

		/*
		Devuelve un array con las dimensiones que solo estan en d1
		*/
		function _unique_dimensions(d1, d2){
			unique = d1
			d2.each(function(item){
				unique = unique.without(item)
			})

			return unique
		}

		/*
		Devuelve un array con las dimensiones que solo estan en ft1
		*/
		function _ft1_dimensions(d1, d2){
			return _unique_dimensions(d1, d2)
		}

		/*
		Devuelve un array con las dimensiones que solo estan en ft2
		*/
		function _ft2_dimensions(d1, d2){
			return _unique_dimensions(d2, d1)
		}

		function change_ft(){
			var ft1 = $('#ft1').val()
			jQuery.get("/report/get_dimensions/" + ft1, {}, function(data){	
				dimensions1 = data.split("|")
			})	

			var ft2 = $('#ft2').val()
			jQuery.get("/report/get_dimensions/" + ft2, {}, function(data){
				dimensions2 = data.split("|")
			})

			var common = _common_dimensions(dimensions1, dimensions2)
			var ft1_dimensions = _ft1_dimensions(dimensions1, dimensions2)
			var ft2_dimensions = _ft2_dimensions(dimensions1, dimensions2)

			_add_options("x", common.join("|"))
			_add_options("y", common.join("|"))
			_add_options("dimension", common.join("|"))

			_add_options("ft1_dimension", ft1_dimensions.join("|"))
			_add_options("ft2_dimension", ft2_dimensions.join("|"))

			jQuery.get("/report/get_measures/" + ft1, {}, function(data){
				_add_options("ft1_measures", data)
			})

			jQuery.get("/report/get_measures/" + ft2, {}, function(data){
				_add_options("ft2_measures", data)
			})

			$('#ft1_rest_legend').html(ft1)
			$('#ft2_rest_legend').html(ft2)
			
			set_cf()

			change_x()
			change_y()
			change_dimension()
			change_ft1_dimension()
			change_ft2_dimension()
			change_level()
			change_mf()
		}

		function change_x(){
			var dimension = $('#x').val()
			jQuery.get("/report/get_levels/" + dimension, {}, function(data){
				_add_options("ft1_xl", data)
				_add_options("ft2_xl", data)
			})
		}

		function change_y(){
			var dimension = $('#y').val()
			jQuery.get("/report/get_levels/" + dimension, {}, function(data){
				_add_options("ft1_yl", data)
				_add_options("ft2_yl", data)
			})
		}
		
		function change_dimension(){
			var dimension = $('#dimension').val()
			jQuery.get("/report/get_levels_without_todo/" + dimension, {}, function(data){
				_add_options("level", data)
			})

			change_level()
		}

		function change_ft1_dimension(){
			var dimension = $('#ft1_dimension').val()
			jQuery.get("/report/get_levels_without_todo/" + dimension, {}, function(data){
				_add_options("ft1_level", data)
			})

			change_ft1_level()
		}

		function change_ft2_dimension(){
			var dimension = $('#ft2_dimension').val()
			jQuery.get("/report/get_levels_without_todo/" + dimension, {}, function(data){
				_add_options("ft2_level", data)
			})

			change_ft2_level()
		}

		function change_level(){
			var dimension = $('#dimension').val()
			var level = $('#level').val()
			jQuery.get("/report/get_values/" + dimension + "/" + level, {}, function(data){
				_add_options("val", data)
			})
		}

		function change_ft1_level(){
			var dimension = $('#ft1_dimension').val()
			var level = $('#ft1_level').val()
			jQuery.get("/report/get_values/" + dimension + "/" + level, {}, function(data){
				_add_options("ft1_val", data)
			})
		}

		function change_ft2_level(){
			var dimension = $('#ft2_dimension').val()
			var level = $('#ft2_level').val()
			jQuery.get("/report/get_values/" + dimension + "/" + level, {}, function(data){
				_add_options("ft2_val", data)
			})
		}

		function change_mf(){
			var params_length = $('#mf option:selected').attr('params_length')
	
			var ft1_measures = $('#ft1_measures').html()
			var ft2_measures = $('#ft2_measures').html()

			var aggregations = $('#aggregations').html()		
			
			$('#param_table_body').html('')
			for(var i = 0; i < params_length; i++){
				$('#param_table_body').createAppend(
					'tr', {}, [
					'td', { class: 'params', align: 'center', style: '' }, ['select', {}, ft1_measures + ft2_measures],
					'td', {class: 'aggregations'}, ['select', {}, aggregations]
					]
				);
			}
		}


		function _x_fixed(ft_prefix){
			if( $('#' + ft_prefix + "_x_fixed").attr("checked") ){
				return ":"
			}
			return ""
		}

		function _y_fixed(ft_prefix){
			if( $('#' + ft_prefix + "_y_fixed").attr("checked") ){
				return ":"
			}
			return ""			
		}
		
		function _ft_url(ft_prefix){
			var ft  = $('#' + ft_prefix).val()
			var x   = _x_fixed(ft_prefix) + $('#x').val()
			var y   = _y_fixed(ft_prefix) + $('#y').val()
			var xl  = $('#' + ft_prefix + '_xl').val()
			var yl  = $('#' + ft_prefix + '_yl').val()

			
			
			var xr = _get_x_restriction()
			var yr = _get_y_restriction()

			var ore = _get_ore(ft_prefix)
			
			var ft_url = ft + "/"
			ft_url += x + "/"
			ft_url += y + "/"
			ft_url += xl + "/"
			ft_url += yl + "/"
			ft_url += xr + "/"
			ft_url += yr + "/"
			ft_url += ore

			return ft_url
		}

		function ft1_agregar(){
			_agregar("ft1_")
		}

		function ft2_agregar(){
			_agregar("ft2_")
		}

		function _verificar(){

			error = false
			msg = ""

			var x   = $('#x').val()
			var y   = $('#y').val()

			if (x == y){
				error = true
				msg += "X e Y no pueden ser iguales\n"
			}

			var ft1   = $('#ft1').val()
			var ft2   = $('#ft2').val()
			if (ft1 == ft2){
				error = true
				msg += "Debe elegir dos hechos diferentes"
			}
			
			if (error){
				alert(msg)
				return false
			}

			return true
		}

		function aceptar(){
			if (!_verificar()){
				return
			}


			var ft1_url = _ft_url('ft1')
			var ft2_url = _ft_url('ft2')			

			var mf = $('#mf').val()

			var params = _get_params()

			var cf = $('#cf option:selected').attr('id')

			var cf_params = _get_cf_params()

			var url = ""  
			url += "/" + "report2"
			url += "/" + ft1_url
			url += "/" + ft2_url
			url += "/" + mf
			url += "/" + params
			url += "/" + cf
			url += "/" + cf_params
			url += "/"

			parent.location.href = url
		}
		

		change_ft()

	 });

    </script><style>
		.even{ background-color:#FFF; }
		.odd{ background-color:#54F7FB; }
    </style>

  </head>
  <body>
	<form>
		<select id="ft1">
			<option>ventas</option>
			<option>movimientos</option>
			<option>compras</option>
		</select>
		<select id="ft2">
			<option>ventas</option>
			<option>movimientos</option>
			<option>compras</option>
		</select>

		<select id="ft1_measures" style="display:none"></select>
		<select id="ft2_measures" style="display:none"></select>

		<select id="aggregations" style="display:none">
			<option>sum</option>
			<option>avg</option>
		</select>

		<br><br>
		<label>x</label>
		<select id="x">
			<option>tiempo</option>
			<option>pieza</option>
			<option>proveedor</option>
			<option>tipo_venta</option>
		</select>
		<label>Nivel x</label>
		<select id="ft1_xl">
			<option>anio</option>
			<option>mes</option>
		</select>		
		<label>Fijo</label>
		<input id="ft1_x_fixed" type="checkbox" />
		<label>Nivel x2</label>
		<select id="ft2_xl">
			<option>anio</option>
			<option>mes</option>
		</select>
		<label>Fijo</label>
		<input id="ft2_x_fixed" type="checkbox" />
		<br><br>
		<label>y</label>
		<select id="y">
			<option>tiempo</option>
			<option>pieza</option>
			<option>proveedor</option>
			<option>tipo_venta</option>
		</select>
		<label>Nivel y</label>
		<select id="ft1_yl">
			<option>grupo_constructivo</option>
			<option>modelo</option>
		</select>
		<label>Fijo</label>
		<input id="ft1_y_fixed" type="checkbox" />
		<label>Nivel y2</label>
		<select id="ft2_yl">
			<option>grupo_constructivo</option>
			<option>modelo</option>
		</select>
		<label>Fijo</label>
		<input id="ft2_y_fixed" type="checkbox" />

		<br><br>

		<fieldset>
			<legend>Restricciones Comunes</legend>
			<LABEL>Dimension</LABEL>
			<select id="dimension">
				<option>tiempo</option>
				<option>pieza</option>
				<option>proveedor</option>
				<option>tipo_venta</option>
			</select>

			<LABEL>Nivel</LABEL>
			<select id="level">

			</select>
			<LABEL>Valor</LABEL>
			<select id="val">

			</select>

			<INPUT id="agregar" type="button" value="Agregar" />
			<br><br>
			<table class="restriction_table">
				<tbody id="restriction_table_body">
					<tr>
						<td>Dimension</td>
						<td>Nivel</td>
						<td>Valor</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			
		</fieldset>

		<fieldset>
			<legend>Restricciones <span id="ft1_rest_legend">Hecho 1</span></legend>
			<LABEL>Dimension</LABEL>
			<select id="ft1_dimension">
				<option>tiempo</option>
				<option>pieza</option>
				<option>proveedor</option>
				<option>tipo_venta</option>
			</select>

			<LABEL>Nivel</LABEL>
			<select id="ft1_level">

			</select>
			<LABEL>Valor</LABEL>
			<select id="ft1_val">

			</select>

			<INPUT id="ft1_agregar" type="button" value="Agregar" />
			<br><br>
			<table class="ft1_restriction_table">
				<tbody id="ft1_restriction_table_body">
					<tr>
						<td>Dimension</td>
						<td>Nivel</td>
						<td>Valor</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			
		</fieldset>

		<fieldset>
			<legend>Restricciones <span id="ft2_rest_legend">Hecho 2</span></legend>
			<LABEL>Dimension</LABEL>
			<select id="ft2_dimension">
				<option>tiempo</option>
				<option>pieza</option>
				<option>proveedor</option>
				<option>tipo_venta</option>
			</select>

			<LABEL>Nivel</LABEL>
			<select id="ft2_level">
				<option>anio</option>
				<option>mes</option>
			</select>
			<LABEL>Valor</LABEL>
			<select id="ft2_val">
				<option>1999</option>
				<option>2000</option>
			</select>

			<INPUT id="ft2_agregar" type="button" value="Agregar" />
			<br><br>
			<table class="ft2_restriction_table">
				<tbody id="ft2_restriction_table_body">
					<tr>
						<td>Dimension</td>
						<td>Nivel</td>
						<td>Valor</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			
		</fieldset>



		<br><br>
		<label>Funcion</label>
		<select id="mf">
			<option params_length="2">sumar</option>
			<option params_length="2">dividir</option>
			<option params_length="2">multiplicar</option>
			<option params_length="2">restar</option>
			<option params_length="1">mismo_valor</option>>
		</select>
		<table>
			<tbody id="param_table_body">
				
			</tbody>
		</table>
		<br><br>
		<br><br>
		<label>Funcion de Cubo</label>
		<select id="cf">
		</select>
		<table>
			<tbody id="cube_param_table_body">
				
			</tbody>
		</table>


		<br><br>
		<input id="aceptar" type="button" value="Aceptar" />

		<input id="server_and_port" type="hidden" value="" />

	</form>
	
  </script>

  </body>
  </html>
