  <html>
  <head>
    <link rel="stylesheet" href="/media/css/olap.css" type="text/css" />
    <link rel="stylesheet" href="/media/css/formulario.css" type="text/css" />

    <script type="text/javascript" src="/media/js/prototype.js"></script>
    <script type="text/javascript" src="/media/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="/media/js/jquery/jquery.flydom.js"></script>

    <script type="text/javascript" src="/media/js/formulario.js"></script>

    <script type="text/javascript">
	jQuery.noConflict();

	

	 jQuery(document).ready(function($){

// 		$.ajaxSetup( {
// 			type: "POST",
// 			async: false,
// 			beforeSend: ajax_beforeSend,
// 			complete: ajax_complete
// 		} );

		$.ajaxSetup( {
			type: "POST",
			async: false
		} );


		/* EVENTOS*/

		$('#ft').change(change_ft)

		$('#x').change(change_x)

		$('#y').change(change_y)

                $('#xl').change(labels_preview)
                $('#yl').change(labels_preview)

		$('#dimension').change(change_dimension)

		$('#level').change(change_level)

		$('#mf').change(change_mf)

		$('#cf').change(change_cf)

		$('#agregar').click(agregar)

		$('#aceptar').click(aceptar)

		/* FIN EVENTOS*/

		function change_ft(){
			var ft = $('#ft').val()
			data = ajax_or_cache("/report/get_dimensions/" + ft, {})
				_add_options("x", data)
				_add_options("y", data)
				_add_options("dimension", data)

			data = ajax_or_cache("/report/get_measures/" + ft, {})
				_add_options_measures("measures", data)

			change_x()
			change_y()
			change_dimension()
			change_level()
			change_mf()			
		}

		function change_x(){
			var dimension = $('#x').val()

			data = ajax_or_cache("/report/get_levels/" + dimension, {})
				_add_options("xl", data)

                        labels_preview()
		}

		function change_y(){
			var dimension = $('#y').val()
			data = ajax_or_cache("/report/get_levels/" + dimension, {})
				_add_options("yl", data)

                        labels_preview()
		}
		
		function change_dimension(){
			var dimension = $('#dimension').val()
			data = ajax_or_cache("/report/get_levels_without_todo/" + dimension, {})
				_add_options("level", data)
			change_level()
		}

		function change_level(){
			var dimension = $('#dimension').val()
			var level = $('#level').val()
			data = ajax_or_cache("/report/get_values/" + dimension + "/" + level, {})
				_add_options("val", data)
		}

		function change_mf(){
			var params_length = $('#mf option:selected').attr('params_length')
			var measures = $('#measures').html()
			
			var aggregations = $('#aggregations').html()		

			$('#param_table_body').html('')
			for(var i = 0; i < params_length; i++){
				$('#param_table_body').createAppend(
					'tr', {}, [
					'td', {class:'params', align: 'center', style: '' }, ['select', {}, measures],
					'td', {class: 'aggregations'}, ['select', {}, aggregations]
					]
				);
			}
		}

		function _verificar(e){

			error = false
			msg = ""

			var x   = $('#x').val()
			var y   = $('#y').val()

			if (x == y){
				error = true
				msg += "X e Y no pueden ser iguales\n"
			}

			
			if (error){
				alert(msg)
				return false
			}

			return true
		}

		function aceptar(e){
			if (!_verificar(e)){
				return
			}

			var ft  = $('#ft').val()
			var x   = $('#x').val()
			var y   = $('#y').val()

			if (x == y){
				alert("X e Y no pueden ser iguales")
				return
			}

			var xl  = $('#xl').val()
			var yl  = $('#yl').val()

			var url = ""

			var xr = _get_x_restriction()
			var yr = _get_y_restriction()
			
			var ore = _get_ore('')

			var mf = $('#mf').val()

			var params = _get_params()

			var cf = $('#cf option:selected').attr('id')

			var cf_params = _get_cf_params()

			url += "/" + "report"
			url += "/" + ft	
			url += "/" + x
			url += "/" + y
			url += "/" + xl
			url += "/" + yl
			url += "/" + xr
			url += "/" + yr
			url += "/" + ore
			url += "/" + mf
			url += "/" + params
			url += "/" + cf
			url += "/" + cf_params
			url += "/"

			parent.location.href = url
		}

                function labels_preview(){
                    $('#prev_x').html($('#x').val())
                    $('#prev_y').html($('#y').val())

                    $('#prev_xl').html(_p($('#xl').val()))
                    $('#prev_yl').html(_p($('#yl').val()))
                    $('#prev_ft1').html($('#ft').val())
                }

                function load_cache(){
                    
                }

		change_ft()
                set_cf()
                labels_preview()
                load_cache()

	 });

    </script>


<style>

#prev_yl, #prev_yl2, #prev_ft1, #prev_y, #prev_ft2,  #prev_y2{
    width: 120px;
    text-align: right;
}

#prev_xl, #prev_x2, #prev_xl2,, #prev_x{
    width: 120px;
    text-align: left;
}

#prev_ft1, #prev_x, #prev_y, #prev_ft2, #prev_x2, #prev_y2{
    font-weight:bold;
    font-size: 14px;
}

#prev_xl, #prev_yl, #prev_xl2, #prev_yl2{
    font-size: 10px;
}

#prev_ft1 {
    position:absolute;
    top:160px;
    left:80px;
}

#prev_x {
    position:absolute;
    top:95px;
    left:135px;
}

#prev_xl {
    position:absolute;
    top:110px;
    left:135px;
}

#prev_y {
    position:absolute;
    top:95px;
    left:-50px;
    font-weight:bold;
}

#prev_yl {
    position:absolute;
    top:110px;
    left:-50px;
}

#prev_ft2 {
    position:absolute;
    top:95px;
    left:220px;
}

#prev_x2 {
    position:absolute;
    top:30px;
    left:245px;
}

#prev_xl2 {
    position:absolute;
    top:45px;
    left:245px;
}

#prev_y2 {
    position:absolute;
    top:35px;
    left:80px;
}

#prev_yl2 {
    position:absolute;
    top:50px;
    left:80px;
}

</style>

  </head>
  <body>
	<img id="ajax_loading" src="/media/img/loading2.gif" width="70" style="display:none" />
	<form>

		<fieldset>
			<legend>Selecci&oacute;n de dimensiones</legend>
                        <table>
                        <tbody>
                            <tr>
                            <td></td>
                            <td>
                                        <select id="x">
                                                <option>tiempo</option>
                                                <option>pieza</option>
                                                <option>proveedor</option>
                                                <option>tipo_venta</option>
                                        </select>
                            </td>
                            <td>
                                        <select id="y">
                                                <option>tiempo</option>
                                                <option>pieza</option>
                                                <option>proveedor</option>
                                                <option>tipo_venta</option>
                                        </select>

                            </td>
                            </tr>
                            <tr>
                            <td>
                                        <select id="ft">
                                                <option>ventas</option>
                                                <option>movimientos</option>
                                                <option>compras</option>
                                                <option>test</option>
                                        </select>
                            </td>
                            <td>
                                        <select id="xl">
                                                <option>anio</option>
                                                <option>mes</option>
                                        </select>
                            </td>
                            <td>
                                        <select id="yl">
                                                <option>grupo_constructivo</option>
                                                <option>modelo</option>
                                        </select>
                            </td>
                            </tr>
                        </tbody>
                        </table>
                </fieldset>

<div style="position: relative;">
    <span id="prev_x"></span>
    <span id="prev_y"></span>
    <span id="prev_xl"></span>
    <span id="prev_yl"></span>
    <span id="prev_ft1"></span>

    <img src="/media/img/previsualizacion.png"></img>
</div>

		<select id="measures" style="display:none"></select>
		<select id="aggregations" style="display:none">
			<option value="sum">Suma</option>
			<option value="avg">Promedio</option>
		</select>

		<fieldset>
			<legend>Restricciones</legend>

			<table>
                                <tr>
                                        <td><label>Dimension</label></td>
                                        <td><label>Nivel</label></td>
                                        <td><label>Valor</label></td>
                                        <td></td>
                                </tr>
                                <tr>
                                        <td>
                                            <select id="dimension">
                                                    <option>tiempo</option>
                                                    <option>pieza</option>
                                                    <option>proveedor</option>
                                                    <option>tipo_venta</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select id="level">
                                                    <option>anio</option>
                                                    <option>mes</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select id="val">
                                                    <option>1999</option>
                                                    <option>2000</option>
                                            </select>
                                        </td>
                                        <td><input id="agregar" type="button" value="Agregar" /></td>
                                </tr>
			</table>
			
			<table class="restriction_table">
				<tbody id="restriction_table_body">
					<tr>
						<td><label>Dimension</label></td>
						<td><label>Nivel</label></td>
						<td><label>Valor</label></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			
		</fieldset>

		<fieldset>
			<legend>Función</legend>	
                        <select id="mf">
                                <option params_length="1">mismo_valor</option>>
                                <option params_length="2">sumar</option>
                                <option params_length="2">dividir</option>
                                <option params_length="2">multiplicar</option>
                                <option params_length="2">restar</option>
                        </select><br>
                        <label>Parámetros</label>
                        <table>
                                <tbody id="param_table_body">

                                </tbody>
                        </table>
                </fieldset>

		<fieldset>
			<legend>Función de Cubo</legend>
                        <select id="cf">
                        </select><br>
                        <label>Parámetros</label>
                        <table>
                                <tbody id="cube_param_table_body">

                                </tbody>
                        </table>
                </fieldset>
                <br>
		&nbsp;&nbsp;&nbsp;<input id="aceptar" type="button" value="Aceptar" />
	</form>

  <script type="text/javascript">
	
  </script>

  </body>
  </html>
