<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en_US">
<head>
<title>Bieler S.A.</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link rel="stylesheet" href="/media/css/olap.css" type="text/css" />
</head>

<body >
<div style="background-image:url(/media/img/fondo_degrade.png); background-size:auto;margin:0px">

<center style="vertical-align: middle;">
    <div style="vertical-align: bottom; text-align: center"><img src="/media/img/autofondo.png" /></div>
</center>

</div>


<div style="border:1px solid #000;background-color:#72adab; padding-top:5px;height:15%;vertical-align:middle" align="center">
    <p style=" font-style:italic; margin:5px;">Sistema de soporte de decisiones Bieler S.A.</p>
    <p style="font-style:italic; margin:5px; ">Este software se encuentra bajo la licencia GPL v3.</p>
</div>

</body>

</html>
