<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
	<title>jQuery treeView</title>
	
	<link rel="stylesheet" href="/media/css/jquery.treeview.css" />
	<link rel="stylesheet" href="screen.css" />
	
	<script src="/media/js/jquery/jquery.js" type="text/javascript"></script>
	<script src="/media/js/jquery/jquery.cookie.js" type="text/javascript"></script>

	<script src="/media/js/jquery/jquery.treeview.js" type="text/javascript"></script>
	
	<script type="text/javascript" src="/media/js/jquery/demo.js"></script>
	
	</head>
	<body style="border-right: 1px dashed #000; margin: 0px">
	
	<div id="main">

	<ul id="browser" class="filetree">
		<li><span class="folder">Reportes</span>
			<ul>

				<li><a target="detail" href="http://localhost:8000/report/test/tiempo/pieza/mes/modificacion/xr=%7B'anio':%20%5B'2002'%5D%7D/yr=%7B'grupo_constructivo':%20%5B'184'%5D%7D/ore=%5B%5B'tipo_pieza',%20'tipo_pieza',%20%7B%7D%5D%5D/same/params=%5B%5B'ft_test',%20'cantidad',%20'sum'%5D%5D/same_cube/params=%5B%5D/" class="file">Rotacion</a></li>
				<li><a target="detail" href="http://localhost:8000/report/test/tiempo/tipo_pieza/mes/tipo_pieza/xr=%7B'anio':%20%5B'2002'%5D%7D/yr=%7B%7D/ore=%5B%5B'pieza',%20'modificacion',%20%7B'grupo_constructivo':%20%5B'184'%5D%7D%5D%5D/same/params=%5B%5B'ft_test',%20'cantidad',%20'sum'%5D%5D/same_cube/params=%5B%5D/
" class="file">Compras</a></li>
				<li><a target="detail" href="http://localhost:8000/report/test/pieza/tipo_pieza/modificacion/tipo_pieza/xr=%7B'grupo_constructivo':%20%5B'184'%5D%7D/yr=%7B%7D/ore=%5B%5B'tiempo',%20'mes',%20%7B'anio':%20%5B'2002'%5D%7D%5D%5D/same/params=%5B%5B'ft_test',%20'cantidad',%20'sum'%5D%5D/same_cube/params=%5B%5D/" class="file">Ventas</a></li>
			</ul>

		</li>
		<li><span class="folder">Folder 2</span>
			<ul>
				<li><span class="folder">Subfolder 2.1</span>
					<ul id="folder21">

						<li><span class="file">File 2.1.1</span></li>
						<li><span class="file">File 2.1.2</span></li>
					</ul>
				</li>
				<li><span class="file">File 2.2</span></li>
			</ul>
		</li>

		<li class="closed"><span class="folder">Pronostico</span>
			<ul>
				<li><span class="file">ventas</span></li>
			</ul>
		</li>
		<li class="closed"><span class="folder">Indicador compra</span>
			<ul>
				<li><span class="file">ver</span></li>
			</ul>
		</li>
	</ul>

</div>

 
</body></html>