<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
	<title>jQuery treeView</title>
	<link rel="stylesheet" href="/media/css/olap.css" />
	<link rel="stylesheet" href="/media/css/jquery.treeview.css" />
	
	<script src="/media/js/jquery/jquery.js" type="text/javascript"></script>
	<script src="/media/js/jquery/jquery.cookie.js" type="text/javascript"></script>

	<script src="/media/js/jquery/jquery.treeview.js" type="text/javascript"></script>
	<script type="text/javascript" src="/media/js/jquery/demo.js"></script>
	
	<script type="text/javascript">
		jQuery(document).ready(function($){
			$('.delete').click(function(){
                                var report_name = $(this).prev().html()
				if (confirm("Esta seguro que desea borrar el reporte '" + report_name + "'?")) { 
					var id = $(this).attr("report_id")
					jQuery.post("/delete_report/" , {id: id}, function(data){
						window.location.reload()
					})
				}
			})

			$('.categoria_delete').click(function(){
				if (confirm("Esta seguro que desea borrar la categoria?")) { 
					var id = $(this).attr("categoria_id")
					jQuery.post("/delete_categoria/" , {id: id}, function(data){
						window.location.reload()
					})
				}
			})
		});
	</script>



	</head>
	<body style="border-right: 1px dashed #ddd; margin: 0px">
	
	<div id="main">

            <center><u><b>Reportes Globales</b></u></center>

            <ul id="browser" class="filetree">
                {% for cat in categorias_admin %}
                    <li><span class="folder">{{cat.nombre}}</span>
                            <ul>
                                {% for reporte in cat.reporte_set.all %}
                                    <li>
                                        <a target="detail" href="{{reporte.dwp}}" >{{reporte.nombre}}</a> 
                                        {% if admin %}
                                            <a class="delete" report_id="{{reporte.id}}"><img src="/media/img/del.png" width="13" /></a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                    </li>
                {% endfor %}

<center><u><b>Reportes de usuario</b></u></center>

                {% for cat in categorias_usuario %}
                    <li><span class="folder">{{cat.nombre}}</span>
                            <ul>
                                {% for reporte in cat.reporte_set.all %}
                                    <li>
                                            <a target="detail" href="{{reporte.dwp}}" >{{reporte.nombre}}</a> <a class="delete" report_id="{{reporte.id}}"><img src="/media/img/del.png" width="13" /></a>
                                    </li>
                                {% endfor %}
                            </ul>
                    </li>
                {% endfor %}
            </ul>

        </div>
<br>
<center><u><b>Acciones</b></u></center>

<table>
  <tbody>
    <tr>
      <td><a target="detail" href="/create_report/"><img src="/media/img/nuevo-reporte.png" border="0"> Nuevo reporte</a></td>
    </tr>
    <tr>
      <td><a target="detail" href="/adm_categoria/"><img src="/media/img/adm-categorias.png" border="0"> Categor&iacute;as</a></td>
    </tr>
    <tr>
      <td><a target="_parent" href="/logout/"><img src="/media/img/exit.png" border="0"> Salir</a></td>
    </tr>
  </tbody>
</table>

 
</body></html>
