{% load hash_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://purl.org/kid/ns#"><head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''" /><title>Bieler Web Application</title>

<script type="text/javascript" src="/media/js/prototype.js"></script>
<script type="text/javascript" src="/media/js/jquery/jquery.js"></script>
<script type="text/javascript" src="/media/js/jquery/jquery.flydom.js"></script>

<script type="text/javascript" src="/media/js/formulario.js"></script>
<script type="text/javascript" src="/media/js/formulario1.js">></script>
<script type="text/javascript" src="/media/js/formulario2.js">></script>

<link rel="stylesheet" type="text/css" href="/media/css/olap.css" media="screen" />
<script type="text/javascript">
    jQuery(document).ready(function($){

      $("#dicex_expand").click(function() {
        if  ( $("#expand_dim_x").css("display") == "none" ) {
	  $("#expand_dim_x").slideDown();
	} else {
	  $("#expand_dim_x").slideUp();
	}
      });

      $("#dicey_expand").click(function() {
        if  ( $("#expand_dim_y").css("display") == "none" ) {
	  $("#expand_dim_y").slideDown();
	} else {
	  $("#expand_dim_y").slideUp();
	}
      });

      $("#change_report_expand").click(function() {
        if  ( $("#change_report").css("display") == "none" ) {
	  $("#change_report").show();
	} else {
	  $("#change_report").slideUp();
	}
      });

      $("#more_details_expand").click(function() {
        if  ( $("#more_details").css("display") == "none" ) {
	  $("#more_details").show();
	} else {
	  $("#more_details").slideUp();
	}
      });

      $('#other_axis_x').change(function(){
        var other_axis = document.getElementById('other_axis_x').value
        window.location = "/dice/{{dim_x}}/" + other_axis +"/"
      })

      $('#other_axis_y').change(function(){
        var other_axis = document.getElementById('other_axis_y').value
        window.location = "/dice/{{dim_y}}/" + other_axis +"/"
      })

    });

</script>
</head>
<body>


<div class="outer-container">

<div class="path"> 
 <a href="index.html">Inicio</a> » <span class="title">{{title}}</span>
</div>

<a id="change_report_expand">[[Cambiar Informe]]</a>

<div id="change_report" style="display:none">
    
    <style>
		.even{ background-color:#FFF; }
		.odd{ background-color:#54F7FB; }
    </style>



    <form>
            <select id="ft1">
                    <option>ventas</option>
                    <option>movimientos</option>
                    <option>compras</option>
            </select>
            <select id="ft2">
                    <option>ventas</option>
                    <option>movimientos</option>
                    <option>compras</option>
            </select>
    
            <select id="ft1_measures" style="display:none"></select>
            <select id="ft2_measures" style="display:none"></select>
    
            <select id="aggregations" style="display:none">
                    <option>avg</option>
                    <option>sum</option>
            </select>
    
            <br><br>
            <label>x</label>
            <select id="x">
                    <option>tiempo</option>
                    <option>pieza</option>
                    <option>proveedor</option>
                    <option>tipo_venta</option>
            </select>
            <label>Nivel x</label>
            <select id="ft1_xl">
                    <option>anio</option>
                    <option>mes</option>
            </select>		
            <label>Fijo</label>
            <input id="ft1_x_fixed" type="checkbox" />
            <label>Nivel x2</label>
            <select id="ft2_xl">
                    <option>anio</option>
                    <option>mes</option>
            </select>
            <label>Fijo</label>
            <input id="ft2_x_fixed" type="checkbox" />
            <br><br>
            <label>y</label>
            <select id="y">
                    <option>tiempo</option>
                    <option>pieza</option>
                    <option>proveedor</option>
                    <option>tipo_venta</option>
            </select>
            <label>Nivel y</label>
            <select id="ft1_yl">
                    <option>grupo_constructivo</option>
                    <option>modelo</option>
            </select>
            <label>Fijo</label>
            <input id="ft1_y_fixed" type="checkbox" />
            <label>Nivel y2</label>
            <select id="ft2_yl">
                    <option>grupo_constructivo</option>
                    <option>modelo</option>
            </select>
            <label>Fijo</label>
            <input id="ft2_y_fixed" type="checkbox" />
    
            <br><br>
    
            <fieldset>
                    <legend>Restricciones Comunes</legend>
                    <LABEL>Dimension</LABEL>
                    <select id="dimension">
                            <option>tiempo</option>
                            <option>pieza</option>
                            <option>proveedor</option>
                            <option>tipo_venta</option>
                    </select>
    
                    <LABEL>Nivel</LABEL>
                    <select id="level">
    
                    </select>
                    <LABEL>Valor</LABEL>
                    <select id="val">
    
                    </select>
    
                    <INPUT id="agregar" type="button" value="Agregar" />
                    <br><br>
                    <table class="restriction_table">
                            <tbody id="restriction_table_body">
                                    <tr>
                                            <td>Dimension</td>
                                            <td>Nivel</td>
                                            <td>Valor</td>
                                            <td></td>
                                    </tr>
                            </tbody>
                    </table>
                    
            </fieldset>
    
            <fieldset>
                    <legend>Restricciones <span id="ft1_rest_legend">Hecho 1</span></legend>
                    <LABEL>Dimension</LABEL>
                    <select id="ft1_dimension">
                            <option>tiempo</option>
                            <option>pieza</option>
                            <option>proveedor</option>
                            <option>tipo_venta</option>
                    </select>
    
                    <LABEL>Nivel</LABEL>
                    <select id="ft1_level">
    
                    </select>
                    <LABEL>Valor</LABEL>
                    <select id="ft1_val">
    
                    </select>
    
                    <INPUT id="ft1_agregar" type="button" value="Agregar" />
                    <br><br>
                    <table class="ft1_restriction_table">
                            <tbody id="ft1_restriction_table_body">
                                    <tr>
                                            <td>Dimension</td>
                                            <td>Nivel</td>
                                            <td>Valor</td>
                                            <td></td>
                                    </tr>
                            </tbody>
                    </table>
                    
            </fieldset>
    
            <fieldset>
                    <legend>Restricciones <span id="ft2_rest_legend">Hecho 2</span></legend>
                    <LABEL>Dimension</LABEL>
                    <select id="ft2_dimension">
                            <option>tiempo</option>
                            <option>pieza</option>
                            <option>proveedor</option>
                            <option>tipo_venta</option>
                    </select>
    
                    <LABEL>Nivel</LABEL>
                    <select id="ft2_level">
                            <option>anio</option>
                            <option>mes</option>
                    </select>
                    <LABEL>Valor</LABEL>
                    <select id="ft2_val">
                            <option>1999</option>
                            <option>2000</option>
                    </select>
    
                    <INPUT id="ft2_agregar" type="button" value="Agregar" />
                    <br><br>
                    <table class="ft2_restriction_table">
                            <tbody id="ft2_restriction_table_body">
                                    <tr>
                                            <td>Dimension</td>
                                            <td>Nivel</td>
                                            <td>Valor</td>
                                            <td></td>
                                    </tr>
                            </tbody>
                    </table>
                    
            </fieldset>
    
    
    
            <br><br>
            <label>Funcion</label>
            <select id="mf">
                    <option params_length="2">sumar</option>
                    <option params_length="2">dividir</option>
                    <option params_length="2">multiplicar</option>
                    <option params_length="2">restar</option>
                    <option params_length="1">same</option>>
            </select>
            <table>
                    <tbody id="param_table_body">
                            
                    </tbody>
            </table>
            <br><br>
            <br><br>
            <label>Funcion de Cubo</label>
            <select id="cf">
            </select>
            <table>
                    <tbody id="cube_param_table_body">
                            
                    </tbody>
            </table>
    
    
            <br><br>
            <input id="aceptar" type="button" value="Aceptar" />
    
            <input id="server_and_port" type="hidden" value="{{server_ip}}:8000" />
    
    </form>
    
    URL: <span id="url">&nbsp;</span>


</div>

<script type="text/javascript" src="/media/js/swfobject.js"></script>
<div id="flashcontent"></div><script type="text/javascript">
var so = new SWFObject("/media/flash/open-flash-chart.swf", "chart", "600", "300", "9", "#FFFFFF");
so.addVariable("variables","true");

{{ofc_params}}

so.write("flashcontent");
</script>


<a href="/pivot/">Pivot</a> 

<a id="more_details_expand">[[M&aacute;s Destalles]]</a>

<div id="more_details" style="display:none">
<table class="info">
  <tbody>
    <tr>
      <td></td>
      <td>{{ft}}</td>
    </tr>
    <tr>
      <td>Dimensiones Principales</td>
      <td>
      </td>
    </tr>
{% for dim in dimensions %}
    <tr>
      <td valign="top">{{dim}}</td>
      <td>

<table>
  <tbody>
    <tr>
      <td valign="top">Nivel: </td>
      <td>{{dimensions|hash:dim|hash:1}}</td>
    </tr>
    <t>
      <td valign="top">Restricciones: </td>
      <td>{{dimensions|hash:dim|hash:2}}</td>
    </tr|>
  </tbody>
</table>

      </td>
    </tr>
    <tr>
{% endfor %}
      <td>Dimensiones Ocultas</td>
      <td>{{ore}}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Medidas</td>
      <td>{{measures}}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<br>


<table class="info">
  <tbody>
    <tr>
      <td></td>
      <td>{{ft2}}</td>
    </tr>
    <tr>
      <td>Dimensiones Principales</td>
      <td>
      </td>
    </tr>
{% for dim in dimensions2 %}
    <tr>
      <td valign="top">{{dim}}</td>
      <td>

<table>
  <tbody>
    <tr>
      <td valign="top">Nivel: </td>
      <td>{{dimensions2|hash:dim|hash:1}}</td>
    </tr>
    <t>
      <td valign="top">Restricciones: </td>
      <td>{{dimensions2|hash:dim|hash:2}}</td>
    </tr|>
  </tbody>
</table>

      </td>
    </tr>
    <tr>
{% endfor %}
      <td>Dimensiones Ocultas</td>
      <td>{{ore2}}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Medidas</td>
      <td>{{measures2}}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>

<table class="data_table">
<tbody>

    <tr>
        <th width="300">
              <table class="axis_selection_table" cellspacing="0" cellpadding="0"  >

<tr>
 <td style="text-align:right;vertical-align:bottom;" colspan="2"><img src="/media/img/1.gif"></td>
 <td>
{% if can_roll_x %}
 <a href="/roll/0/">+</a>
{% else %}
+
{% endif %}
{% if can_drill_x %}
<a href="/drill/0/">-</a>
{% else %}
-
{% endif %}
{{dim_x}}
 <input id="dicex_expand" src="/media/img/options.gif" type="image" />
<div id="expand_dim_x" style="display:none">
 <select id="other_axis_x">
 {% for oa in other_axis %}
    <option>{{oa}}</option>
 {% endfor %}
 </select>
</div>

</td>
</tr>
<tr>
 <td>&nbsp;</td>
 <td><img src="/media/img/2.gif"></td>
 <td>&nbsp;</td>
</tr>
<tr>
 <td>
{% if can_roll_y %}
 <a href="/roll/1/">+</a>
{% else %}
+ 
{% endif %}
{% if can_drill_y %}
<a href="/drill/1/">-</a>
{% else %}
-
{% endif %}
{{dim_y}}
 <input id="dicey_expand" src="/media/img/options.gif" type="image" />
<div id="expand_dim_y" style="display:none">
 <select id="other_axis_y">
 {% for oa in other_axis %}
    <option>{{oa}}</option>
 {% endfor %}
 </select>
</div>

</td>
 <td valign="top" align="left" colspan="2"><img src="/media/img/3.gif"></td>
</tr>
</table>

        </th>
        {% for h in header %}
            
            <th>
		{% if can_drill_x %}
                	<a href="/drill_replacing/0/{{h}}/">{{h}}</a>
		{% else %}
			{{h}}
		{% endif %}
            </th>
        {% endfor %}
    </tr>
    
    {% for valor in body_order %}
    <tr>
        <th>
	{% if can_drill_y %}
		<a href="/drill_replacing/1/{{valor}}/">{{valor}}</a></th>
	{% else %}
		{{valor}}
	{% endif %}
        {% for v in body|hash:valor %}
        <td>        
          {% if not v %}
            &nbsp;
          {% else %}
		{% if can_drill_x or can_drill_y %}
            		<a href="/drill_replacing2/{{ header|hash:forloop.counter0 }}/{{valor}}/">{{v|floatformat:2}}</a>
		{% else %}
			{{v|floatformat:2}}
		{% endif %}
          {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</tbody>
</table>



</div>


<table class="header_top">
	{% for level in header_top%}
	<tr border="1">
		{% for val in level%}
		<td border="1" colspan="{{val|hash:1}}" align="center">
			{{val|hash:0}}
		</td>
		{% endfor %}
	</tr>
	{% endfor %}

</table>


<table class="header_left">
	{% for row in header_left%}
	<tr border="1">
		{% for col in row%}
		<td border="1" rowspan="{{col|hash:1}}">
			{{col|hash:0}}
		</td>
		{% endfor %}
	</tr>
	{% endfor %}

</table>

</body>
</html>
