  <html>
  <head>
    <script type="text/javascript" src="/media/js/prototype.js"></script>
    <script type="text/javascript" src="/media/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="/media/js/jquery/jquery.flydom.js"></script>

    <script type="text/javascript" src="/media/js/formulario.js"></script>
    

    <script type="text/javascript">
	jQuery.noConflict();

	

	 jQuery(document).ready(function($){

		$.ajaxSetup( {
			type: "POST",
			async: false
		} );

		/* EVENTOS*/

		$('#ft').change(change_ft)

		$('#x').change(change_x)

		$('#y').change(change_y)

		$('#dimension').change(change_dimension)

		$('#level').change(change_level)

		$('#mf').change(change_mf)

		$('#cf').change(change_cf)

		$('#agregar').click(agregar)

		$('#aceptar').click(aceptar)

		/* FIN EVENTOS*/

		function change_ft(){
			var ft = $('#ft').val()
			jQuery.get("/report/get_dimensions/" + ft, {}, function(data){
				_add_options("x", data)
				_add_options("y", data)
				_add_options("dimension", data)
			})	
			jQuery.get("/report/get_measures/" + ft, {}, function(data){
				_add_options("measures", data)
			})
			change_x()
			change_y()
			change_dimension()
			change_level()
			change_mf()
			set_cf()
		}

		function change_x(){
			var dimension = $('#x').val()
			jQuery.get("/report/get_levels/" + dimension, {}, function(data){
				_add_options("xl", data)
			})
		}

		function change_y(){
			var dimension = $('#y').val()
			jQuery.get("/report/get_levels/" + dimension, {}, function(data){
				_add_options("yl", data)
			})
		}
		
		function change_dimension(){
			var dimension = $('#dimension').val()
			jQuery.get("/report/get_levels/" + dimension, {}, function(data){
				_add_options("level", data)
			})

			change_level()
		}

		function change_level(){
			var dimension = $('#dimension').val()
			var level = $('#level').val()
			jQuery.get("/report/get_values/" + dimension + "/" + level, {}, function(data){
				_add_options("val", data)
			})
		}

		function change_mf(){
			var params_length = $('#mf option:selected').attr('params_length')
			var measures = $('#measures').html()
			
			var aggregations = $('#aggregations').html()		

			$('#param_table_body').html('')
			for(var i = 0; i < params_length; i++){
				$('#param_table_body').createAppend(
					'tr', {}, [
					'td', {class:'params', align: 'center', style: '' }, ['select', {}, measures],
					'td', {class: 'aggregations'}, ['select', {}, aggregations]
					]
				);
			}
		}

		function aceptar(){
			var server_and_port = $('#server_and_port').val()
			var ft  = $('#ft').val()
			var x   = $('#x').val()
			var y   = $('#y').val()
			var xl  = $('#xl').val()
			var yl  = $('#yl').val()
			var url = "http://" 

			var xr = _get_x_restriction()
			var yr = _get_y_restriction()
			
			var ore = _get_ore('')

			var mf = $('#mf').val()

			var params = _get_params()

			var cf = $('#cf option:selected').attr('id')

			var cf_params = _get_cf_params()

			url += server_and_port
			url += "/" + "report"
			url += "/" + ft	
			url += "/" + x
			url += "/" + y
			url += "/" + xl
			url += "/" + yl
			url += "/" + xr
			url += "/" + yr
			url += "/" + ore
			url += "/" + mf
			url += "/" + params
			url += "/" + cf
			url += "/" + cf_params
			url += "/"

			$('#url').html(url)

			//window.location.href = url
		}

		change_ft()

	 });

    </script>

    <style>
		.even{ background-color:#FFF; }
		.odd{ background-color:#54F7FB; }
    </style>

  </head>
  <body>
	<form>
		<label>Hecho</label>
		<select id="ft">
			<option>ventas</option>
			<option>movimientos</option>
			<option>compras</option>
		</select>
		<select id="measures" style="display:none"></select>
		<select id="aggregations" style="display:none">
			<option>avg</option>
			<option>sum</option>
		</select>

		<br><br>
		<label>x</label>
		<select id="x">
			<option>tiempo</option>
			<option>pieza</option>
			<option>proveedor</option>
			<option>tipo_venta</option>
		</select>
		<label>Nivel x</label>
		<select id="xl">
			<option>anio</option>
			<option>mes</option>
		</select>		
		<br><br>
		<label>y</label>
		<select id="y">
			<option>tiempo</option>
			<option>pieza</option>
			<option>proveedor</option>
			<option>tipo_venta</option>
		</select>
		<label>Nivel y</label>
		<select id="yl">
			<option>grupo_constructivo</option>
			<option>modelo</option>
		</select>

		<br><br>

		<fieldset>
			<legend>Restricciones</legend>
			<LABEL>Dimension</LABEL>
			<select id="dimension">
				<option>tiempo</option>
				<option>pieza</option>
				<option>proveedor</option>
				<option>tipo_venta</option>
			</select>

			<LABEL>Nivel</LABEL>
			<select id="level">
				<option>anio</option>
				<option>mes</option>
			</select>
			<LABEL>Valor</LABEL>
			<select id="val">
				<option>1999</option>
				<option>2000</option>
			</select>

			<INPUT id="agregar" type="button" value="Agregar" />
			<br><br>
			<table class="restriction_table">
				<tbody id="restriction_table_body">
					<tr>
						<td>Dimension</td>
						<td>Nivel</td>
						<td>Valor</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			
		</fieldset>
		<br><br>
		<label>Funcion</label>
		<select id="mf">
			<option params_length="2">sumar</option>
			<option params_length="2">dividir</option>
			<option params_length="2">multiplicar</option>
			<option params_length="2">restar</option>
			<option params_length="1">same</option>
		</select>
		<table>
			<tbody id="param_table_body">
				
			</tbody>
		</table>
		<br><br>
		<br><br>
		<label>Funcion de Cubo</label>
		<select id="cf">
		</select>
		<table>
			<tbody id="cube_param_table_body">
				
			</tbody>
		</table>
		<input id="aceptar" type="button" value="Aceptar" />

		<input id="server_and_port" type="hidden" value="{{server_ip}}:8000" />
	</form>

	URL: <span id="url">&nbsp;</span>

  <script type="text/javascript">
	
  </script>

  </body>
  </html>
