<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
	<title>jQuery treeView</title>
	
	<link rel="stylesheet" href="/media/css/jquery.treeview.css" />
	<link rel="stylesheet" href="screen.css" />
	
	<script src="/media/js/jquery/jquery.js" type="text/javascript"></script>
	<script src="/media/js/jquery/jquery.cookie.js" type="text/javascript"></script>

	<script src="/media/js/jquery/jquery.treeview.js" type="text/javascript"></script>
	
	<script type="text/javascript" src="/media/js/jquery/demo.js"></script>
	
	<script type="text/javascript">
		jQuery(document).ready(function($){
			$('.delete').click(function(){
				if (confirm("Esta seguro que desea borrar el reporte?")) { 
					var id = $(this).attr("report_id")
					jQuery.post("/delete_report/" , {id: id}, function(data){
						window.location.reload()
					})
				}
			})

			$('.categoria_delete').click(function(){
				if (confirm("Esta seguro que desea borrar la categoria?")) { 
					var id = $(this).attr("categoria_id")
					jQuery.post("/delete_categoria/" , {id: id}, function(data){
						window.location.reload()
					})
				}
			})
		});
	</script>



	</head>
	<body style="border-right: 1px dashed #000; margin: 0px">
	
	<div id="main">

	<ul id="browser" class="filetree">
		<li><span class="folder">Reportes</span>
			<ul>
				{% for cat in categorias %}
					<li><span class="folder">{{cat.nombre}}</span>
						<ul>
							{% for reporte in cat.reporte_set.all %}
							<li>
								<a target="detail" href="{{reporte.dwp}}" >{{reporte.nombre}}</a> <a class="delete" report_id="{{reporte.id}}"><img src="/media/img/del.png" width="13" /></a>
							</li>
							{% endfor %}
						</ul>
					</li>
				{% endfor %}
			</ul>

		</li>

		
		<li class="closed"><span class="folder">Indicador compra</span>
			<ul>
				<li><span class="file">ver</span></li>
			</ul>
		</li>
	</ul>

</div>

<table>
  <tr><th>Acciones</th></tr>
  <tbody>
    <tr>
      <td><a target="detail" href="/create_report/">Nuevo Reporte</a></td>
    </tr>
    <tr>
      <td>Adm Reportes</td>
    </tr>
    <tr>
      <td><a target="detail" href="/adm_categoria/">Adm Categorias</a></td>
    </tr>
    <tr>
      <td><a target="_parent" href="/logout/">salir</a></td>
    </tr>
  </tbody>
</table>

 
</body></html>