{% load hash_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://purl.org/kid/ns#"><head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''" /><title>Bieler Web Application</title>

<script type="text/javascript" src="/media/js/jquery/jquery.js"></script>

<link rel="stylesheet" type="text/css" href="/media/css/olap.css" media="screen" />
<script type="text/javascript">
	jQuery(document).ready(function($){

	$('#more_details_expand').click(function() {
		if( $('#more_details').css("display") == "none" ) {
			$('#more_details').show();
		} else {
			$('#more_details').slideUp();
		}
	});

	$('#other_axis_x').change(function(){
		var other_axis = $('#other_axis_x').val()
		window.location = "/dice/{{dim_x}}/" + other_axis +"/"
	})

	$('#other_axis_y').change(function(){
		var other_axis = $('#other_axis_y').val()
		window.location = "/dice/{{dim_y}}/" + other_axis +"/"
	})

	$('#dicex_expand').click(function() {
		if($('#expand_dim_x').css('display') == 'none' ) {
			$('#expand_dim_x').show();
		} else {
			$('#expand_dim_x').hide();
		}
	});

	$('#dicey_expand').click(function() {
		if  ( $('#expand_dim_y').css('display') == 'none' ) {
			$('#expand_dim_y').show();
		} else {
			$('#expand_dim_y').hide();
		}
	});

	$('#save_expand').click(function(){
		if ( $('#save').css('display') == 'none' ) {
			$('#save').show();
		} else {
			$('#save').slideUp();
		}
	})


	$('#save_aceptar').click(function(){
                alert("guardar")
                var error = false
                var msg = ""
		var href = window.location
		var str = new String(href)
		var str_arre = str.split("8000")

		var dwp = str_arre[1]
		var nombre = $('#nombre').val()

		if(nombre == ""){
                        msg += "Debe introducir un Nombre para guardar el informe\n"
                        error = true
		}

		var categoria_id = $('#categoria_id').val()

                if (categoria_id == "0"){
                        msg += "Debe seleccionar una Categoria \n"
                        error = true
                }

                if(error == true){
                        alert(msg)
                        return
                }

		jQuery.post("/save_report/" , {dwp: dwp, nombre: nombre, categoria_id: categoria_id}, function(data){
			parent.frames.browser.location.reload()
                        alert("El informe se guardo correctamente")
		})

		
	})
	
    });

</script>


</head>
<body>


<div class="outer-container">
<a class="boton" id="save_expand">Guardar</a>&nbsp;<a class="boton" id="more_details_expand">M&aacute;s Detalles</a>
<hr style="border: 1px solid #777;color: #777;background-color:#777;height: 1px;">
<div id="save" style="display:none">
	<table>
		<tbody>
		<tr>
			<td><label>Nombre</label></td>
			<td><input type="text" value="" id="nombre" /></td>
		</tr>
		<tr>
			<td><label>Categoria</label></td>
			<td><select id="categoria_id">
				<option value="0">Seleccione...</option>
				{% for cat in categorias %}
					<option value="{{cat.id}}">{{cat.nombre}}</option>
				{% endfor %}
			</select>
			</td>
		</tr>
		</tbody>
	</table>
	
	<input type="button" value="Guardar" id="save_aceptar"/>
</div>
<div id="more_details" style="display:none">
<table class="info">
  <tbody>
    <tr>
      <td colspan="2" style="text-align:center"><span class="titulo_detalles">Detalles para la tabla de hechos: '{{ft}}'</span></td>
    </tr>
{% for dim in dimensions %}
    <tr>
      <td valign="top" colspan="2">{{dim}}
<table>
  <tbody>
    <tr>
      <td valign="top">Nivel: </td>
      <td>{{d_1_human_redeable}}</td>
    </tr>
    <t>
      <td valign="top">Restricciones: </td>
      <td>{{dimensions|hash:dim|hash:2}}</td>
    </tr>
  </tbody>
</table>
</td>
    </tr>
    <tr>
{% endfor %}
      <td>Dimensiones Ocultas</td>
      <td>{{ore}}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Medidas</td>
      <td>{{measures}}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<br>


<table class="info">
  <tbody>
    <tr>
      <td colspan="2" style="text-align:center"><span class="titulo_detalles">{{ft2}}</span></td>
    </tr>
    <tr>
      <td>Dimensiones Principales</td>
      <td>
      </td>
    </tr>
{% for dim in dimensions2 %}
    <tr>
      <td valign="top">{{dim}}</td>
      <td>

<table>
  <tbody>
    <tr>
      <td valign="top">Nivel: </td>
      <td>{{dimensions2|hash:dim|hash:1}}</td>
    </tr>
    <h>
      <td valign="top">Restricciones: </td>
      <td>{{dimensions2|hash:dim|hash:2}}</td>
    </tr|>
  </tbody>
</table>

      </td>
    </tr>
    <tr>
{% endfor %}
      <td>Dimensiones Ocultas</td>
      <td>{{ore2}}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Medidas</td>
      <td>{{measures2}}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div><!-- FIN more_details --><p style="font-size:1.4em; font-weight:bold">{{explanation}}</p>
<script type="text/javascript" src="/media/js/swfobject.js"></script>
<div id="flashcontent"></div><script type="text/javascript">

{% if mostrar_grafico %}
var so = new SWFObject("/media/flash/open-flash-chart.swf", "chart", "600", "300", "9", "#FFFFFF");
so.addVariable("variables","true");

{{ofc_params|safe}}

so.write("flashcontent");
{% endif %}
</script>









<br /><br /><br />

<a class="boton" href="/pivot/">Pivot</a> 
<table class="data_table">

	<!-- AGREGAR TITULOS DE ARRIBA -->
	{% for level in header_top%}
	<tr border="1">
		{% if forloop.first %}
			<th colspan="{{header_left_size}}" rowspan="{{header_top_size}}" width="100" >
					<table id="axis_selection_table" cellpadding="0" cellspacing="0">
						<tr>
						<td style="text-align:right;vertical-align:bottom;" colspan="2">
							<img src="/media/img/1.gif">
						</td>
						<td style="vertical-align: top">
							<table class="roll_drill" width="50" border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td>
										{% if can_roll_x %}
										<a href="/roll/0/">
											<img border="0" src="/media/img/roll_enabled.gif" />
										</a>
										{% else %}
											<img src="/media/img/roll_disabled.gif" />
										{% endif %}
									</td>
								</tr>
								<tr>
									<td>
										{% if can_drill_x %}
										<a href="/drill/0/">
											<img border="0" src="/media/img/drill_enabled.gif" />
										</a>
										{% else %}
											<img src="/media/img/drill_disabled.gif" />
										{% endif %}
							
									</td>
								</tr>
							</table>
							&nbsp;
							<span style="vertical-align: top; text-size:1.8em">{{dim_x}}</span>
							&nbsp;
							<input id="dicex_expand" src="/media/img/options.gif" type="image" />
							<div id="expand_dim_x" style="display:none">
							<select id="other_axis_x">
							{% for oa in other_axis %}
							<option>{{oa}}</option>
							{% endfor %}
							</select>
							</div>
						
						</td>
						</tr>
						<tr>
						<td>&nbsp;</td>
						<td width="24"><img src="/media/img/2.gif"></td>
						<td>&nbsp;</td>
						</tr>
						<tr>
						<td>

							<table class="roll_drill">
								<tr>
									<td>
										{% if can_roll_y %}
										<a href="/roll/1/">
											<img border="0" src="/media/img/roll_enabled.gif" />
										</a>
										{% else %}
											<img src="/media/img/roll_disabled.gif" />
										{% endif %}
									</td>
								</tr>
								<tr>
									<td>
										{% if can_drill_y %}
										<a href="/drill/1/">
											<img border="0" src="/media/img/drill_enabled.gif" />
										</a>
										{% else %}
											<img src="/media/img/drill_disabled.gif" />
										{% endif %}
							
									</td>
								</tr>
							</table>
							&nbsp;
							{{dim_y}}
							<input id="dicey_expand" src="/media/img/options.gif" type="image" />
							<div id="expand_dim_y" style="display:none">
							<select id="other_axis_y">
							{% for oa in other_axis %}
							<option>{{oa}}</option>
							{% endfor %}
							</select>
							</div>
						
						</td>
						<td valign="top" align="left" colspan="2"><img src="/media/img/3.gif"></td>
						</tr>

					</table>
					<!-- FIN axis_selection_table_cell -->

			</th>
		{% endif%}


		{% for val in level%}
 			{% if not can_drill_x and forloop.parentloop.last %}
					<th border="1" colspan="{{val|hash:1}}" align="center">
						{{val|hash:0}}
					</th>
			{% else %}
					<th border="1" colspan="{{val|hash:1}}" align="center">
						<a href="/replace_to/0/{{val|hash:2}}/">
							{{val|hash:0}}
						</a>
					</th>					
			{% endif %}
			
			
		{% endfor %}

		{% if forloop.first %}
			<th  rowspan="{{header_top_size}}" width="100" >
				TOTAL
			</th>
		{% endif %}

				</tr>
	{% endfor %}
	<!-- FIN AGREGAR TITULOS DE ARRIBA -->


    <!-- AGREGAR FILAS DE DATOS -->
    {% for valor in body_order %}
    <tr class="data_row">

	<!-- AGREGAR COLUMNAS TITULOS IZQUIERDA -->
	{% for col in header_left|hash:forloop.counter0 %}
		{% if not can_drill_y and forloop.last %}
			<th border="1" rowspan="{{col|hash:1}}">{{col|hash:0}}</th>
		{% else %}
			<th border="1" rowspan="{{col|hash:1}}">
				<a href="/replace_to/1/{{col|hash:2}}/">
					{{col|hash:0}}
				</a>
			</th>
		{% endif %}		
	{% endfor %}
	<!-- FIN AGREGAR COLUMNAS TITULOS IZQUIERDA -->
 
	<!-- AGREGAR COLUMNAS DE DATOS -->
        {% for v in body|hash:valor %}
        <td>
		{% if not v %}
		&nbsp;
		{% else %}

		{% if can_drill_x or can_drill_y %}
            		<a href="/replace_to_both_axis/{{ header|hash:forloop.counter0 }}/{{valor}}/">{{v|floatformat:2}}</a>
		{% else %}
				{{v|floatformat:2}}
			{% endif %}
                {% endif %}
                </td>


		

		
        {% endfor %}
	<!-- FIN AGREGAR COLUMNAS DE DATOS -->

	<!-- Total FILA -->
	<th>
		{{total_x|hash:forloop.counter0|floatformat:2}}
	</th>
	<!-- FIN Total FILA -->


    </tr>
    {% endfor %}

    <!-- FIN FILAS DE DATOS -->

    <tr>
        <th align="right" colspan="{{header_left_size}}">TOTAL</th>
    {% for ty in total_y %}
	<th>
		{{ty|floatformat:2}}
        </th>
    {% endfor %}
    
	

</table>
<!-- FIN table_data -->

<table class="header_left" style="display:none">
	{% for row in header_left%}
	<tr class="header_left_row" border="1">
		{% for col in row%}


       {% if can_drill_y %}
		<th border="1" rowspan="{{col|hash:1}}">
			<a href="/drill_replacing/1/{{col|hash:0}}/">
				{{col|hash:0}}
			</a>
		</th>
        {% else %}
                <th border="1" rowspan="{{col|hash:1}}">{{col|hash:0}}</th>
        {% endif %}


		
		{% endfor %}
	</tr>
	{% endfor %}

</table>




</body>
</html>
