table,tr,td,th{border-spacing:0;border:0px solid #d9d1cc;}

.data_table table,.data_table tr,.data_table td,.data_table th{border-spacing:0;border:1px solid #d9d1cc; font-family:verdana; font-size:11px}
.data_table table{width:80%;margin:1em auto;background:#efeeff;}
.data_table caption{font-weight:bold;width:75%;margin:0 auto -1em;background:#ac1f0d;color:#efe;border-bottom:1px solid #d9d1cc;}
.data_table th{background:#DDD;color:#333;border-bottom:1px solid #d9d1cc;}
.data_table tr{background:#feffee;color:#333;}
.data_table td{text-align:left;}
.data_table a{color:#666;}
.data_table a:hover{color:#000;}

.info table{border-spacing:0;border:1px solid #d9d1cc;}
.info{
	background-color:#DDDEEE;
}

#axis_selection_table table, #axis_selection_table tr, #axis_selection_table td, #axis_selection_table th {border:0px;}

#axis_selection_table {width:350px;}

.roll_drill{display: inline}

.header_top td{	border: 1px solid #888}

.header_left td{border: 1px solid #888}

#other_axis_x, #other_axis_y{font-family:verdana; font-size:10px}

iframe#formulario_iframe { 
	border:1px dashed #666;
	padding-right:1em
  }

a{cursor: pointer}